{% macro makeTissueActive(e) -%}
{% if e.isActive() -%}
checked="checked"
{% endif -%}
{% endmacro -%}

{% macro hide(isActive) -%}
{% if not isActive -%}
style="display: none;"
{% endif -%}
{% endmacro -%}


{% macro downloadLink(assembly, assays) -%}
<div>
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;
  {% if "Both" == assays -%}
  <a href="">Download</a> candidate enhancers computed using DNase and H3K27ac signals for all above cell types
  {% endif -%}
  {% if "DNase" == assays -%}
  <a href="">Download</a> candidate enhancers computed using DNase signals for all above cell types
  {% endif -%}
  {% if "H3K27ac" == assays -%}
  <a href="">Download</a> candidate enhancers computed using H3K27ac signals for all above cell types
  {% endif -%}
</div>
{% endmacro -%}

{% macro tissueCheckboxes(epigenomes, assembly, assays, isActive) -%}
<div id="content{{assembly}}{{assays}}" class="selectTissues" {{ hide(isActive) }} >
  <br>
  <table id="table{{assembly}}{{assays}}" class="table table-bordered table-condensed checkboxTable">
    <thead>
      <tr>
        {% for h in epigenomes.Header(assembly, assays) -%}
        <th><center>{{h}}</center></th>
        {% endfor -%}
      </tr>
    </thead>
    <tbody>
      {% for biosample_term_name, cols in epigenomes.Walk(assembly, assays) -%}
      <tr>
        <td><center>{{biosample_term_name}}</center></td>
        {% for webID, webTitle, w in cols -%}
        <td>
          {% if w -%}
          <center>
            <input type="checkbox" name="{{assembly}}{{assays}}" value="{{webID}}" {{makeTissueActive(w)}}><!--&nbsp;{{webTitle}}-->
          </center>
          {% endif -%}
        </td>
        {% endfor -%}
      </tr>
      {% endfor -%}
    </tbody>
  </table>
  {{ downloadLink(assembly, assays) }}
</div>
{% endmacro -%}
